# Venv
.venv

# Output
scripts/words_urls.txt
words_urls.txt
scripts/words_urls_formated.txt
words_urls_formated.txt
scripts/dictionary_entries.txt
dictionary_entries.txt
scripts/dictionary_entries_no_images.txt
dictionary_entries_no_images.txt
scripts/dictionary_entries_formated.txt
dictionary_entries_formated.txt

# Python
**/__pycache__/

# egg-info
*.egg-info/

# Postgres
postgresql/db/
postgresql/*.log

# Pytest
.coverage
